/*reset*/
	html, body { margin: 0; padding: 0;	border: 0; }
	body { font-family:Helvetica, Arial, sans-serif; line-height:1.5; font-size:16px; background: #fff; color: #000; word-wrap: break-word; -webkit-text-size-adjust: none; }
	h1, h2, h3, h4, h5, h6{ font-weight: normal; margin: 0;}
	p img { float: left; margin: 0 10px 5px 0; padding: 0; }
	img { border: 0; max-width: 100%; }
	table { width:auto; border-collapse: collapse;border-spacing: 0; }
	article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

html {font-size: 1.375em }
body { font-style: sans-serif  color: black; background:#48036f repeat center top; color: #fff; text-align: center;}
.clear {clear: both;}
h1 { font-size: 32pt; font-weight: bold; margin-top: 15px; margin-bottom: 20px; }
h2 { font-size: 24pt; font-weight: bold; }
a { color: #000; text-decoration: none; }

form, select, input, a { font-size: 20pt; font-weight: bold; }

input, select, a { width: 80%; display: block; margin: auto; border-radius: 3px;  background: #ad66d5; border: 0px solid #fff; padding: 5px 15px 5px 15px; box-shadow: inset -1px -1px 3px #5f2580; margin-bottom: 15px; }
#initialsdiv select{display: inline; width: 20%;}
#initialsdiv {text-align: center;}

a { margin-top: 50px; font-size: 36pt; }